<div fxLayout="column" class="all" fxLayoutAlign="center center">
  <div class="page">
    <div class="body" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="16px" fxLayout.xs="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" fxLayout.xs="column">
        <img src="~./../assets/picture.png" class="picture">
        <div fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutGap="16px">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <div class="name">ZACHARIE</div>
            <div class="name">MÉNÉTRIER</div>
          </div>
          <div class="title">Full Stack Web Developer</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between end" fxLayoutAlign.xs="center center" fxLayoutGap.xs="8px">
        <div class="details" fxLayoutGap="4px" fxLayout="row"><div>Umeå, Sweden</div><mat-icon>room</mat-icon></div>
        <div class="details" fxLayoutGap="4px" fxLayout="row"><div>(+33) 637 214 077</div><mat-icon>smartphone</mat-icon></div>
        <div class="details" fxLayoutGap="4px" fxLayout="row"><div>zacharie.menetrier@gmail.com</div><mat-icon>email</mat-icon></div>
      </div>
    </div>
    
    <div class="banner">
      28-year-old French 🇫🇷 developer who speaks fluent English 🇬🇧 and learns Swedish 🇸🇪
    </div>
    
    <div class="content body" fxLayout="row" fxLayout.xs="column" fxLayoutGap="32px">
      <div class="panel" fxFlex="50" fxLayout="column" fxLayoutGap="16px" FxLayoutAlign="start start">
        
        <div class="about">
          Full stack web developer with an associate’s degree in computer science and a master’s degree in bioinformatics. I'm passionate about web apps, video game development, design and deep learning.
        </div>
        
        <mat-card class="card topic" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px"><mat-icon>laptop</mat-icon><div>EXPERIENCES</div></mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>FREELANCING</b> / 2020 - PARIS
          </div>
          <div class="text">
            Independent since 2020, I suceeded to settle down in Sweden. My next achievement: to work for a Swedish company!
          </div>
        </mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>WEZEN</b> / 2019 - 2020 - PARIS
          </div>
          <div class="text">
            Full stack development of a complete set of web applications making use of cutting-edge technologies and innovative programming. 
          </div>
        </mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>TAGC</b> / 2018 - MARSEILLE
          </div>
          <div class="text">
            From scratch coding of a deep learning Python library on Keras for predicting genetic perturbations of individuals.
          </div>
        </mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>TAGC</b> / 2017 - MARSEILLE
          </div>
          <div class="text">
            Integral development of a complete R package for helping researchers in the analysis of genomic data.
          </div>
        </mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>CNRS</b> / 2012 - MARSEILLE
          </div>
          <div class="text">
            Kickstarting a visual programming tool in Java, facilitating computer analysis of real time data for researchers.
          </div>
        </mat-card>
        
        <mat-card class="experience card">
          <div class="title">
            <b>CNRS</b> / 2011 - MARSEILLE
          </div>
          <div class="text">
            Full stack development of a complete set of web applications making use of cutting-edge technologies and innovative programming. 
          </div>
        </mat-card>
        
      </div>
      
      <div class="panel" fxFlex="50" fxLayout="column" fxLayoutGap="16px" FxLayoutAlign="start start">
        
        <mat-card class="card topic" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px"><mat-icon>school</mat-icon><div>EDUCATION</div></mat-card>
        
        <div class="education">
          <div class="title">
            <b>Master’s degree</b> - Aix-Marseille University
          </div>
          <div class="text">
            Bioinformatics master's degree obtained with honours. I was trained in statistical analysis and deep learning with Python and R.
          </div>
        </div>
        
        <div class="education">
          <div class="title">
            <b>Bachelor's degree</b> - Aix-Marseille University
          </div>
          <div class="text">
            Bachelor’s degree on biological sciences with initiation to mathematical modeling on R, Fortran and Octave.
          </div>
        </div>
        
        <div class="education">
          <div class="title">
            <b>Associate's degree</b> - IUT2 Grenoble
          </div>
          <div class="text">
            Two years diploma on computer science providing a serious, methodical and low-level programming education.
          </div>
        </div>
        
        <mat-card class="card topic" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px"><mat-icon>emoji_objects</mat-icon><div>SKILLS</div></mat-card>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>Angular</mat-chip>
          <mat-chip>Node.js</mat-chip>
          <mat-chip>Express</mat-chip>
          <mat-chip>Vue.js</mat-chip>
          <mat-chip>Spring</mat-chip>
          <mat-chip>Django</mat-chip>
          <mat-chip>MongoDB</mat-chip>
          <mat-chip>MySQL</mat-chip>
          <mat-chip>Javascript</mat-chip>
          <mat-chip>Typescript</mat-chip>
          <mat-chip>Wix Corvid</mat-chip>
          <mat-chip>Web Sockets</mat-chip>
          <mat-chip>Deep Learning</mat-chip>
          <mat-chip>Java</mat-chip>
        </mat-chip-list>
        
        <mat-card class="card">
          Programming has always been part of my life. I always keep learning and stay updated on innovative great concepts.
          <b>Progressive Web Applications, JAM Stack, Functional Programming, Mobile First</b> and <b>Static Site Generators</b> to name a few !
        </mat-card>
        
      </div>
    </div>
  </div>
</div>