.all {
    color: rgb(82, 82, 82);
}

.head {
    width: 100%;
    padding: 32px;
}

.page {
    max-width: 900px;
    background: white;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.24);
}

.body {
    padding: 32px;
}

.name {
    font-size: 3em;
    line-height: 1;
    text-align: center;
}

.title {
    font-size: 1.5em;
}

.picture {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.banner {
    text-align: center;
    background: #67b0e6;
    color: white;
    padding: 8px 16px;
    width: 100vw;
    box-sizing: border-box;
}

.card {
    width: fit-content;
    padding: 4px 8px;
}

.topic {
    color: grey;
}

.about {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.2em;
}

.experience {
    color: rgb(82, 82, 82);
    
    .title {
        font-size: 1em;
        padding-bottom: 4px;
    }
    
    .text {
        
    }
}

.education {
    
    .title {
        font-size: 1em;
        padding-bottom: 4px;
    }
    
    .text {
        
    }
}

.chip {
    background:#67b0e6;
    color: white;
}

.chip:hover {
    color: white;
}

.languages {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    padding: 0;
    background-color: #e0e0e0;

    .language {
        font-size: 2em;
        padding: 8px;
        border-radius: 2px;
        opacity: 0.5;
    }

    .language:hover {
        cursor: pointer;
    }

    .selected {
        opacity: 1;
        background-color: white;
    }
}

